{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}



{% block checkout_title %}{% trans "Payment" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
    {% block payment_details_content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h3>{% trans "Pay with YooKassa" %}</h3>
                    <p>{% trans "Russian payment system" %}</p>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="payment_method" value="yookassa">
                        <button type="submit" class="btn btn-primary btn-lg">
                            {% trans "Pay with YooKassa" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h3>{% trans "Pay with Stripe" %}</h3>
                    <p>{% trans "International card payments" %}</p>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="payment_method" value="stripe">
                        <button type="submit" class="btn btn-primary btn-lg">
                            {% trans "Pay with Card" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock payment_details_content %}
{% endblock payment_details %}

{% block scripts %}
    {{ block.super }}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
